body
  margin: 0
  padding: 0
  nav
    background: #000000
    color: #ff7f3f
    font-size: 14px
  //  @extend .navbar
  //  @extend .navbar-inverse
  //  @extend .navbar-static-top
  //  .mainNavigation
  //    @extend .container
  //    .brandName
  //      @extend .btn
  //    .navigationContent
  //      @extend .collapse
  //      @extend .navbar-collapse
  //section
  //  .topPeppers
  //    @extend .col-md-2
  //
  //
