doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href='/styles/main.css', rel='stylesheet')
  body
    nav
      .mainNavigation
        h1.brandName Lovetoeat.pl
        .navigationContent
          ul
            li
              a(href='#') Przepisy
            li
              a(href='#') Restauracje
            li
              a(href='#') Food fight
            li
              a(href='#') Blog
            li
              a(href='#') Kontakt
    section
      .topPeppers
        h2 Czerwone Papryczki
        p Papryka ostra – ogólna nazwa, jaką określa się owoce niektórych odmian, kultywarów i mieszańców papryki
          |(Capsicum) o bardzo ostrym smaku
        .readArticle
          |czytaj artykuł


